.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.content {
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease;
  transform: scale(0.5);
  max-width: 60%;
}

.dark {
  background: var(--modal-bg-color);
  color: var(--primary-modal-color);
}

.light {
  background: var(--inverted-modal-bg-color);
  color: var(--secondary-modal-color);
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .overlay {
    opacity: 1;
  }

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .overlay {
    opacity: 0;
  }

  .content {
    transform: scale(0.5);
  }
}
