.Button {
  cursor: pointer;
  color: var(--primary-color);
}

.clear,
.invertedClear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.invertedClear {
  color: var(--inverted-primary-color);
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background: none;
}

.outline_red {
  padding: 10px 15px;
  border: 1px solid var(--color-red-light);
  color: var(--color-red-light);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--primary-color);
  border: none;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
