.code {
  border: 1px solid var(--secondary-color);
  padding: 20px;
  position: relative;
  background: var(--code-bg);
  overflow: auto;
}

.copyBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
