.app_orange_theme {
  --bg-color: #fbf6f4;
  --inverted-bg-color: #c35a22;
  --primary-color: #fbf6f4;
  --inverted-primary-color: #a9291e;
  --secondary-color: #a9291e;
  --inverted-secondary-color: #fbf6f4;
  --bg-page-error: #c35a22;
}
