.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.editing {
  border: 2px solid var(--primary-color);
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.imgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
